## Data Structure:
The basic data structures in python code: 

- **Primitive type**(data structures that directly operate upon the machine instructions):\
(***Integer, Float, String***, and ***Boolean***)
- **Non-Primitive type**(complicated data structures derived from primitive data):\
(***Array, List, Tuples, Dictionary, Set***, and ***File***)

------------------
**Primitive data type** int=integer, float=float, str=string, bool=boolean

In [1]:
a = 2
type(a)

int

In [2]:
b = 2.0
type(b)

float

In [4]:
c = 'ss'
type(c)

str

In [4]:
d = '2.0'
type(d)

str

In [5]:
d1 = 'hello'
type(d1)

str

In [5]:
d2 = "hello python !"
type(d2)

str

In [6]:
d3 = True
type(d3)

bool

In [7]:
d4 = False
type(d4)

bool

In [9]:
d0 = '3.0'
type(d0)

str

In [10]:
d00 = float(d0)
type(d00)

float

--------------------
**Non-primitive type data**

### List

List is built in data structure in python. It is 
- Mutable i.e., we can change or edit the size of the list by appending, inserting and deleting the elements.
- List can hold heterogeneous objects (e.g., integer, string, boolean)

- To initiate a blank List.

In [11]:
a1 = []

- To find the type of the object.

In [12]:
type(a1)

list

- To create a list from scratch.

In [20]:
L = [5,2,3,7,10,20,1,24,30]
print(L)
print(L)

[5, 2, 3, 7, 10, 20, 1, 24, 30]
[5, 2, 3, 7, 10, 20, 1, 24, 30]

In [21]:
print(L)

[5, 2, 3, 7, 10, 20, 1, 24, 30]

- Indexing of list.

In [22]:
L[0],L[1],L[5]

(5, 2, 20)

- Reverse indexing is also possible.

In [23]:
L[-1],L[-2],L[-3]

(30, 24, 1)

- To find the length of list.

In [24]:
len(L)

9

- To add the element from last.

In [25]:
L.append(12)
L

[5, 2, 3, 7, 10, 20, 1, 24, 30, 12]

- To find the sum of the elements (if they are of same types like int. double etc)

In [26]:
sum(L)

114

- To find maximum and minimum of the list

In [27]:
max(L), min(L)

(30, 1)

- To create a list of heterogeneous element types.

In [28]:
L = [3,2.0,3,4,"Apple",True, False]

- To find the type of elements of a list.

In [29]:
type(L[1]),type(L[4]),type(L[6])

(float, str, bool)

- To create a list of list.

In [23]:
L = [[1,2,3],[3,4,5],[5,7,9]]

- To find list inside a list.

In [24]:
L[0]

[1, 2, 3]

In [25]:
L[0][1]

2

- To add two list. It is not as ususal addition. The elements are accumulated.

In [30]:
L1 = [1,2,3] ; L2 = [2,4,6]
L1+L2

#s = sum(L1+L2) #this is for sum of all elements
#c = [x+y for x,y in zip(L1, L2)]  # this is for elementwise sum

[1, 2, 3, 2, 4, 6]

- To add element from end of the list

In [27]:
L = [4,2,3,5,6,7]
L.append(100)
L

[4, 2, 3, 5, 6, 7, 100]

- To insert element (100) at specific index (1)

In [28]:
L = [4,2,3,5,6,7]
L.insert(1,100)
L

[4, 100, 2, 3, 5, 6, 7]

- To remove specific element form list. It will remove the first occurance.

In [29]:
L = [5,4,2,3,5,6,7,4]
L.remove(4)
L

[5, 2, 3, 5, 6, 7, 4]

- To remove the element from specific index

In [30]:
L = [5,4,2,3,5,6,7]
L.pop(-1)
L

[5, 4, 2, 3, 5, 6]

- To sort the list

In [31]:
L = [1,10,2,30,5,60,7]
L.sort()
L

[1, 2, 5, 7, 10, 30, 60]

- To reverse the list

In [32]:
L = [1,10,2,30,5,60,7]
L.reverse()
L

[7, 60, 5, 30, 2, 10, 1]

- List comprehension

In [33]:
L = [x for x in range(10)]
print(L)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
L = [x for x in range(100) if x%2==0]
print(L)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [ ]:
rootlogfile.write("%s \n" %(dirName))
        f.write("%s \t%s \t%s \t%s \t%s\n" %(strftime("%Y/%m/%d %H:%M:%S",t),str(thisRun),scanList[i][0], setValue, msg))

        txtFile = open(txtFilePath, 'a')
        txtFile.write(str(setValue)+'\t'+"/home/msr/pantUsim/simu201704/data/musr_"+str(thisRun)+".root"+'\n')
        txtFile.close()

### Tuples

Tuples are non-mutable (which means we can not add or remove elements once tuple is defined)

- To define a tuples from scratch

In [35]:
t = (2,3,4,5)

- Find type

In [36]:
type(t)

tuple

- Indexing

In [37]:
t[1]

3

- list of tuples

In [38]:
L = [(4,2),(2,6),(3,4)]

In [39]:
L[0][0]

4

- Create a list of tuples

In [40]:
L = [(1,2),("a","b"),(True, False)]
L

[(1, 2), ('a', 'b'), (True, False)]

- Difference between list and tuple
(list are mutable however tuples are non-mutable)

In [31]:
aa = ['ap','ac','ad']
aa

['ap', 'ac', 'ad']

In [44]:
k = (2,3,4)
k

(2, 3, 4)

In [32]:
aa[0] = 'pp'

In [33]:
aa

['pp', 'ac', 'ad']

In [34]:
tt = ('ac','ad','kt')
tt

('ac', 'ad', 'kt')

In [35]:
tt[0] = 'pp'

TypeError: 'tuple' object does not support item assignment

### Dictionary

Dictionary organizes the data with **key-value pair**. Dictionary can be nested with other data types.

- To initiate a dictionary

In [41]:
D = dict()
DD = {}

In [46]:
kd = {}
kd = {"pant","amba"}
kd

{'amba', 'pant'}

- Create a dictionary from scratch

In [36]:
D = {"fruit":'apple',
    "vegetable" : 'carrot',
    "rice": 2.0,
    'milk': 10,}

- What are keys?

In [37]:
D.keys()

dict_keys(['fruit', 'vegetable', 'rice', 'milk'])

- What are values?

In [38]:
D.values()

dict_values(['apple', 'carrot', 2.0, 10])

- Indexing

In [39]:
D['fruit'], D["rice"]

('apple', 2.0)

- Iteration over key and values

In [46]:
for key,value in D.items():
    print(key,value)

fruit apple
vegetable carrot
rice 2.0
milk 10

- To update a dictionary

In [47]:
D.update({"salt": 2.0})
D

{'fruit': 'apple', 'vegetable': 'carrot', 'rice': 2.0, 'milk': 10, 'salt': 2.0}

- To create a list form a Dictionary. Only keys are collected.

In [48]:
list(D)

['fruit', 'vegetable', 'rice', 'milk', 'salt']

- To create a list of keys only

In [49]:
list(D.keys())

['fruit', 'vegetable', 'rice', 'milk', 'salt']

- To create a list of values

In [50]:
list(D.values())

['apple', 'carrot', 2.0, 10, 2.0]

- To create Dictionary of with list, tuples and dictionary

In [41]:
DD = {"names":("John","Harry", "Brat"),\
      "roll no": [1,2,3],\
      "plan":{"first":[12,34,56],"second":[1,3,5]}}

DD

{'names': ('John', 'Harry', 'Brat'),
 'roll no': [1, 2, 3],
 'plan': {'first': [12, 34, 56], 'second': [1, 3, 5]}}

### References:
1. https://docs.python.org/3/tutorial/index.html