# Loops and conditions used in python

Loops provide the method of iteration while condition allows or blocks the code execution

### for and while loops

- To iterate over the List. Lets prin the items in the list

In [3]:
L =['book2','pen1','pencil','eraser']
for k in L:
    print("item ",k)

item  book2
item  pen1
item  pencil
item  eraser

- What is range?

In [4]:
range(5), range(1,10), sum(range(10))

(range(0, 5), range(1, 10), 45)

- iteration using for loop

In [6]:
L = []
for k in range(5):
    L.append(5*k)
L

[0, 5, 10, 15, 20]

- Double loop also called ***nested for loop***. Here is double for loop with ```i``` and ```j```

In [7]:
D = []
for i in range(3):
    for j in range(3):
        if i == j :
            D.append((i,2*j))
            print("i = ",i, ", j = ", j, ": equal case")
        elif i!= j:
            D.append((i,3*j))
            print("*i = ",i, ", j = ", j, ": unequal case")
            
print(D)

i =  0 , j =  0 : equal case
*i =  0 , j =  1 : unequal case
*i =  0 , j =  2 : unequal case
*i =  1 , j =  0 : unequal case
i =  1 , j =  1 : equal case
*i =  1 , j =  2 : unequal case
*i =  2 , j =  0 : unequal case
*i =  2 , j =  1 : unequal case
i =  2 , j =  2 : equal case
[(0, 0), (0, 3), (0, 6), (1, 0), (1, 2), (1, 6), (2, 0), (2, 3), (2, 4)]

- To iterate two elements from two seperate Lists. It is not like nested for loop. enumerate too

In [16]:
province = ["No.1", "No.2","Bagmati", "Gandaki","Lumbini","Karnali","Sudurpashchim"]
capital = ["Biratnagar","Janakpur","Hetauda","Pokhara","Deukhuri","Birendranagar","Godawari"]

for j,k in zip(province,capital):
    print("Capital of province ",j," is ",k)

Capital of province  No.1  is  Biratnagar
Capital of province  No.2  is  Janakpur
Capital of province  Bagmati  is  Hetauda
Capital of province  Gandaki  is  Pokhara
Capital of province  Lumbini  is  Deukhuri
Capital of province  Karnali  is  Birendranagar
Capital of province  Sudurpashchim  is  Godawari

- To create a list with ```for``` loop

In [44]:
A = [2*k+5 for k in range(10)]
print(A)

[5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [9]:
AA = [[10*x**2+5*y+1 for x in range(3)] for y in range(3)]
print(AA)

[[1, 11, 41], [6, 16, 46], [11, 21, 51]]

- To iterate over List of List

In [48]:
for i in range(3): 
    for j in range(3):
        print("The","(",i,",",j,")","th element of list AA is: ",AA[i][j])

The ( 0 , 0 ) th element of list AA is:  1
The ( 0 , 1 ) th element of list AA is:  11
The ( 0 , 2 ) th element of list AA is:  41
The ( 1 , 0 ) th element of list AA is:  6
The ( 1 , 1 ) th element of list AA is:  16
The ( 1 , 2 ) th element of list AA is:  46
The ( 2 , 0 ) th element of list AA is:  11
The ( 2 , 1 ) th element of list AA is:  21
The ( 2 , 2 ) th element of list AA is:  51

- To use ```while``` loop.

In [49]:
i = 0
while i < 5:
    print( i, "th turn")
    i = i+1

0 th turn
1 th turn
2 th turn
3 th turn
4 th turn

- To break for loop implementing ```if``` condition

In [13]:
for i in range(10):
    #print("i = ",i)
    print(i)
    if i == 3:
        print("loop value:",i)
        print(i)
        break
        print("loop break")

0
1
2
3
loop value: 3
3

- To find sum from 0 to 1000

In [14]:
s = 0
for i in range(1001):
    s = s+i
s

500500

- sum of odd numbers

In [20]:
s = 0
kl = [2,3,5,7,11,13]
LE = []
for i in kl:
    if i%2 ==1:
        print("i = ",i)
        LE.append(i)
        s = s+i
s, sum(LE)

i =  3
i =  5
i =  7
i =  11
i =  13

(39, 39)

In [22]:
s = 0
prm = []
kl = [2,3,5,7,11,13]
for i in kl:
    print(i)
    prm.append(i)
    s = s+i
s, sum(prm)

2
3
5
7
11
13

(41, 41)

- To test the if conditions:

In [59]:
import random as random

for i in range(10):
    r = random.uniform(1,10)
    if r<2 and r>0:
        print("It is samaller then 2 and greater then 1","|", r)
    elif r<4 and r>2:
        print("It is samaller then 4 and greater then 2","|", r)
    elif r<6 and r>4:
        print("It is samaller then 6 and greater then 4","|", r)
    elif r<8 and r>6:
        print("It is samaller then 8 and greater then 6","|", r)
    elif r<10 and r>8:
        print("It is samaller then 10 and greater then 8","|", r)

It is samaller then 8 and greater then 6 | 7.679583467080391
It is samaller then 4 and greater then 2 | 2.854480770545427
It is samaller then 10 and greater then 8 | 8.529358249201156
It is samaller then 4 and greater then 2 | 3.553298795144834
It is samaller then 10 and greater then 8 | 9.944400724362522
It is samaller then 10 and greater then 8 | 8.250085447049525
It is samaller then 4 and greater then 2 | 3.723388467576153
It is samaller then 10 and greater then 8 | 8.941996127567808
It is samaller then 6 and greater then 4 | 4.080087554472712
It is samaller then 6 and greater then 4 | 5.211702870768853

### References:
1. https://docs.python.org/3/tutorial/index.html

--------